.rounded-2xl {
  border-radius: 1rem;
}
.py-16 {
    padding-top: 1rem /* 64px */;
    padding-bottom: 4rem /* 64px */;
}
.px-4 {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-top: 1rem
}
.max-w-4xl {
  max-width: 53rem /* 896px */;
}